<h1>About Friends App</h1>

1. An app to create, read, update and delete friends. This app has user authentication using the Devise ruby gem so they can:
	<br />
	A) Sign Up for an account. 
	<br />
	B) Log In to the application.
	<br />
	C) Add Friends to a table view.
	<br />
	D) Create, Show, Update, and Delete Friends from the table.
	<br />
	<br />
2. Learn about Ruby on Rails and how to create a backend CRUD application

<p><%= @about_me %></p>
<p><%= "The answer is: + " " + @answer" %></p>
